*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
.idea/deploymentTargetDropDown.xml
.idea/misc.xml
app/src/data/output/
app/src/androidTest/assets/clouds/
.idea/androidTestResultsUserPreferences.xml
