<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--Example of removing a permission for this build-->
    <!-- <uses-permission
        android:name="android.permission.ACTIVITY_RECOGNITION"
        tools:node="remove" /> -->

</manifest>