@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

html,
body {
  font-family: "Ubuntu", sans-serif;
  color: #222222;
}

body {
  background: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section {
  padding: 20px;
}

h1 {
  font-size: 48px;
  margin-top: 20px;
}

h2 {
  margin-top: 20px;
}

h3 {
  margin-top: 20px;
}

.mb-3 {
  margin-bottom: 1.5rem !important;
}

img {
  max-width: 100%;
  height: auto;
}

.grid {
  display: grid;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.row {
  display: flex;
  flex-direction: row;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.text-primary {
  color: #ff6d00;
}

.text-secondary {
  color: #222222;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

#hero {
  height: 60vh;
  padding: 0;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
}

#hero .grid {
  grid-template-areas:
    "titlebar"
    "header";
  height: 100%;
}

#content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  margin-top: 60vh;
}

#titlebar {
  grid-area: titlebar;
  height: 70px;
  max-width: 1100px;
}

#titlebar a {
  color: #222222;
  margin-left: 18px;
  margin-right: 18px;
}

#titlebar a:hover {
  color: #ff6d00;
}

#hero-title {
  grid-area: header;
  justify-self: center;
  align-self: center;
  padding: 20px 20px 100px;
  text-align: center;
}

#hero-title p {
  opacity: 0.8;
  margin-bottom: 12px;
}

#play-badge img {
  max-width: 150px;
  margin: -12px;
}

#fdroid-badge img {
  max-width: 150px;
  margin: -12px;
  margin-left: 8px;
}

#features {
  min-height: 75vh;
  background: white;
}

#feature-header {
  margin-bottom: 32px;
}

#features .grid {
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
}

.feature {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.feature img {
  max-height: 50vh;
}

#other-features {
  margin-top: 64px;
}

#disclaimer,
#contact,
#privacy {
  color: rgba(255, 255, 255, 0.86);
  background-color: #222222;
}

.card-round {
  padding: 0;
}

@media screen and (max-width: 600px) {
  #features .grid {
    grid-template-columns: 1fr 1fr;
  }

  #hero .grid {
    grid-template-areas:
      "titlebar"
      "header"
      "screenshot";
  }

  #titlebar {
    display: none;
  }

  #hero-title {
    padding: 20px 20px;
  }
}