/* NAVBAR */

#title,
#title a {
  text-align: center;
  text-transform: uppercase;
  font-family: consolas, monospace;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.14em;
  color: rgba(130, 130, 130, 0.8);
  text-decoration: none;
  transition: color 140ms cubic-bezier(0.33, 0, 0.2, 1);
}

#title a.active,
#title a:hover {
  color: rgb(100, 100, 100);
}

.app-badge {
  border: none !important;
}

.app-badge img {
  width: 200px;
}

.item {
  padding: 16px;
}

.item:hover,
.item:focus {
  background: rgba(0, 0, 0, 0.05);
}

.container-sm {
  width: 720px;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.hidden-link {
  text-decoration: none;
  color: inherit;
}

.text-center {
  text-align: center;
}

.mr-5 {
  margin-right: 3rem;
}

.mt-5 {
  margin-top: 3rem;
}

.m-0 {
  margin: 0;
}

.book-cover-image {
  max-width: 300px !important;
  height: auto;
  margin: 16px auto;
}

/* Button */
button {
  padding: 1rem 2rem;
  border-radius: 4px;
  background-color: #ff6d00;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #c43e00;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.device-rating {
  float: right;
  font-weight: bold;
  color: #ff6d00;
}

.device {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #f2f2f2;
}

.device:last-child {
  border-bottom: none;
}

#play-badge img {
  max-width: 150px;
  margin: -12px;
}

#fdroid-badge img {
  max-width: 150px;
  margin: -12px;
  margin-left: 8px;
}

.grid {
  display: grid;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.row {
  display: flex;
  flex-direction: row;
}

#book-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

#features {
  min-height: 75vh;
  background: white;
}

#feature-header {
  margin-bottom: 32px;
}

#features .grid {
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
}

.feature {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.feature img {
  max-height: 50vh;
  max-width: 100%;
}

#other-features {
  margin-top: 64px;
}

@media screen and (max-width: 600px) {
  #features .grid {
    grid-template-columns: 1fr 1fr;
  }
}