<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css" />
</head>

<body>
  <h1 id="title"><a href="/">{{title}}</a></h1>
  <div class="text-center">
    <a href="/" class="link mr-5">Home</a>
    <a href="/user-guide" class="link mr-5">User Guide</a>
    <a href="https://github.com/kylecorry31/Trail-Sense" class="link" target="_blank">GitHub</a>
    <!-- <a href="/book.html" class="link">Book</a> -->
  </div>